:root {
    --dark-square: green;
    --light-square: white;
}

@font-face {
    font-family: "GNU Unifont";
    src: url('../fonts/unifont-15.0.01.otf')
}

.board-container {
    font-family: "GNU Unifont";
    width: 100vw;
    height: 100vh;
}

.corpse {
    margin: 0;
}

.graveyard-container {
    background-color: white;
    width: 130pt;
    height: calc(75px * 8);
    font-family: "GNU Unifont";
    font-size: 65pt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.board {
    display: flex;
    width: calc(75px * 8);
    height: calc(75px * 8);
    flex-wrap: wrap;
}

.square{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65pt;
}

.dark-highlighted {
    background-color: greenyellow;
}

.light-highlighted {
    background-color: yellow;
}

.dark {
    background-color: var(--dark-square);
}

.light {
    background-color: var(--light-square);
}

.clickable {
    cursor: grabbing;
}
.illegal {
    cursor: not-allowed;
}