:root {
    --dark-square: green;
    --light-square: white;
}

@font-face {
    font-family: "GNU Unifont";
    src: url('../fonts/unifont-15.0.01.otf')
}

@font-face {
    font-family: "Arial Unicode";
    src: url("../fonts/Arial Unicode.ttf");
}

.container {
    font-family: "Arial Unicode";
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    width: calc(75px * 8);
    height: calc(75px * 8);
    flex-wrap: wrap;
}

.square{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
}

.dark {
    background-color: var(--dark-square);
}

.light {
    background-color: var(--light-square);
}

.clickable {
    cursor: grabbing;
}
.illegal {
    cursor: not-allowed;
}