p {
    -webkit-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
    transition: ease 0.3s;
}

.held {
    opacity: 50%;
    animation-name: wobble;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    transition: ease 0.3s;
}

.check {
    animation: wobble infinite 0.2s;
    color: red;
}

@media only screen and (min-width: 650px) {
    .held {
        font-size: 100px;
    }

    @keyframes wobble {
        0% {transform: rotate(-5deg) translateY(-5px)}
        50% {transform: rotate(5deg) translateY(-5px)}
        100% {transform: rotate(-5deg) translateY(-5px)}
    }
}

@media only screen and (max-width: 649px) {
    .held {
        font-size: 15vw;
    }

    @keyframes wobble {
        0% {transform: rotate(-5deg) translateY(-0.77vw)}
        50% {transform: rotate(5deg) translateY(-0.77vw)}
        100% {transform: rotate(-5deg) translateY(-0.77vw)}
    }
}